@page
@model ProyectoCiclo3.App.Frontend.Pages.FormBusesModel
@{
}
 
<!-- 
<div class="text-center">
<form method=”POST”>
  <b>
  <label for="marca" class="form-label">Marca: </label>
  <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca">
  <label for="modelo" class="form-label">Modelo:</label>
  <input type="number" class="form-control" id="modelo" name="modelo" placeholder="Modelo">
  <label for="kilometraje" class="form-label">Kilometraje:</label>
  <input type="number" class="form-control" id="kilometraje" name="kilometraje" placeholder="Kilometraje">
  <label for="numero_asientos" class="form-label">Numero de Asientos:</label>
  <input type="number" class="form-control" id="numero_asientos" name="numero_asientos" placeholder="Numero de Asientos">
  <label for="placa" class="form-label">Placa:</label>
  <input type="text" class="form-control" id="placa" name="placa" placeholder="Placa">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
  </b>
</form>
</div>  -->





<div class="content-allReg">
    <div class="row">
    
      <!-- Columna Uno -->
      <div class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify" >
         <h3>Creacion de Buses </h3>
      </div>

      <!-- Columna Dos -->
      <div class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify">  
        <main> 
           <center>
             <br>
             <form method="POST" name="buses" id="buses">
  <b>
  <label for="marca" class="form-label">Marca: </label>
  <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca">
  <label for="modelo" class="form-label">Modelo:</label>
  <input type="number" class="form-control" id="modelo" name="modelo" placeholder="Modelo">
  <label for="kilometraje" class="form-label">Kilometraje:</label>
  <input type="number" class="form-control" id="kilometraje" name="kilometraje" placeholder="Kilometraje">
  <label for="numero_asientos" class="form-label">Numero de Asientos:</label>
  <input type="number" class="form-control" id="numero_asientos" name="numero_asientos" placeholder="Numero de Asientos">
  <label for="placa" class="form-label">Placa:</label>
  <input type="text" class="form-control" id="placa" name="placa" placeholder="Placa">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
  </b>


             </form> 
           </center>
        </main>
      </div> 

      <!-- Columna Tres -->
      <aside class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify"> 
         <center>
           <img src="https://es.123rf.com/photo_132451594_paisaje-con-parada-de-autob%C3%BAs-vac%C3%ADa-en-una-ma%C3%B1ana-soleada.html?vti=mkt73tqozdf2jtdqyl-1-1" class="img-circle" width="150" height="600">
         </center>
       </aside>

    </div>

  </div>






