@page
@model ProyectoCiclo3.App.Frontend.Pages.FormBusModel
@{
}

 
<div class="content-allReg">
    <div class="row">
    
      <!-- Columna Uno -->
      <div class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify" >
         <br> <br> 
         <h3>Crear Buses </h3>
         <center>
           <img src="https://previews.123rf.com/images/dacosta/dacosta1304/dacosta130400038/19075252-mosc%C3%BA-13-de-abril-bus-por-la-ciudad-el-13-de-abril-de-2013-en-mosc%C3%BA-desde-2013-autobuses-de-dos-plan.jpg" class="img-circle" width="50" height="50">
         </center>
      </div>

      <!-- Columna Dos -->
      <div class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify">  
        <main> 
           <center>
             <br>
 

<form method="POST">
  <label for="Marca" class="form-label">Marca:</label>
  <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca">
  <label for="Modelo" class="form-label">Modelo:</label>
  <input type="number" class="form-control" id="modelo" name="modelo" placeholder="Modelo">
  <label for="Kilometraje" class="form-label">Kilometraje:</label>
  <input type="number" class="form-control" id="kilometraje" name="kilometraje" placeholder="Kilometraje">
  <label for="Número de asientos" class="form-label">Número de asientos:</label>
  <input type="number" class="form-control" id="numero_asientos" name="numero_asientos" placeholder="Número de asientos">
  <label for="Placa" class="form-label">Placa:</label>
  <input type="text" class="form-control" id="placa" name="placa" placeholder="Placa">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>


 <!--
             <form method="POST" name="buses" id="buses">
  <b>
  <label for="marca" class="form-label">Marca: prueba </label>
  <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca">
  <label for="modelo" class="form-label">Modelo:</label>
  <input type="number" class="form-control" id="modelo" name="modelo" placeholder="Modelo">
  <label for="kilometraje" class="form-label">Kilometraje:</label>
  <input type="number" class="form-control" id="kilometraje" name="kilometraje" placeholder="Kilometraje">
  <label for="numero_asientos" class="form-label">Numero de Asientos:</label>
  <input type="number" class="form-control" id="numero_asientos" name="numero_asientos" placeholder="Numero de Asientos">
  <label for="placa" class="form-label">Placa:</label>
  <input type="text" class="form-control" id="placa" name="placa" placeholder="Placa">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
  </b>


             </form>   -->






           </center>
        </main>
      </div> 

      <!-- Columna Tres -->
      <aside class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify"> 
<!--         <center>
           <img src="https://previews.123rf.com/images/dacosta/dacosta1304/dacosta130400038/19075252-mosc%C3%BA-13-de-abril-bus-por-la-ciudad-el-13-de-abril-de-2013-en-mosc%C3%BA-desde-2013-autobuses-de-dos-plan.jpg" class="img-circle" width="50" height="50">
         </center> -->
       </aside>

    </div>

  </div>






