@page
@{
}
 
<h3>Lista de Buses</h3>

<table class="table table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Marca</th>
      <th scope="col">Modelo</th>
      <th scope="col">Kilometraje</th>
      <th scope="col">Numero de Asientos</th>
      <th scope="col">Placa</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mercedes-Benz</td>
      <td>2020</td>
      <td>80.000</td>
      <td>28</td>
      <td>JVU-505</td>
    </tr>

    <tr>
      <th scope="row">1</th>
      <td>Mercedes-Benz</td>
      <td>2015</td>
      <td>125.321</td>
      <td>32</td>
      <td>JLA-014</td>
    </tr>

    <tr>
      <th scope="row">1</th>
      <td>Renault</td>
      <td>2012</td>
      <td>50.123</td>
      <td>32</td>
      <td>RMU-732</td>
    </tr>

  </tbody>
</table>