@page
@model ProyectoCiclo3.App.Frontend.Pages.FormRutasModel
@{
}
 

<div class="content-allReg">
    <div class="row">
    
      <!-- Columna Uno -->
      <div class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify" >
         <h3>Crear Rutas</h3>
         <center>
           <img src="https://previews.123rf.com/images/sdecoret/sdecoret1706/sdecoret170602208/81191182-hombre-de-negocios-borroso-plano-de-fondo-tocar-mundo-conexi%C3%B3n-bosquejo.jpg" >
         </center>

      </div>

      <!-- Columna Dos -->
      <div class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify">  
        <main> 
           <center>
             <br>
             <form method="POST" name="rutas" id="rutas">
                <label for="origen" class="form-label">Origen:</label>
                <select id="origen" class="form-control" name="origen" >
                <option value="seleccione">Seleccione Origen</option>
                </select>
                  <label for="destino" class="form-label">Destino:</label>
                <select id="destino" class="form-control" name="destino" >
                  <option value="seleccione">Seleccione Destino</option>
                </select>
                <label for="tiempo" class="form-label">Tiempo estimado:</label>
                <input type="number" class="form-control" id="tiempo" name="tiempo" placeholder="Tiempo Estimado">
                <hr>
                <button type="submit" class="btn btn-success">Enviar</button>
             </form> 
           </center>
        </main>
      </div> 

      <!-- Columna Tres -->
      <aside class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify"> 
         <!-- <center>
           <img src="https://previews.123rf.com/images/sdecoret/sdecoret1706/sdecoret170602208/81191182-hombre-de-negocios-borroso-plano-de-fondo-tocar-mundo-conexi%C3%B3n-bosquejo.jpg" class="img-circle" width="50" height="50">
         </center>  -->
       </aside>

    </div>

  </div>