@page
@{
}


<h3>Lista de Rutas</h3>

<table class="table table-bordered border-primary">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Origen</th>
      <th scope="col">Destino</th>
      <th scope="col">Tiempo Estimado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Soacha</td>
      <td>Calle 13</td>
      <td>1.45</td>
    </tr>
    <tr>

    <tr>
      <th scope="row">2</th>
      <td>Tunjuelito</td>
      <td>Suba</td>
      <td>2.15</td>
    </tr>

    <tr>
      <th scope="row">3</th>
      <td>Kennedy</td>
      <td>Bosa</td>
      <td>1.25</td>
    </tr>

  </tbody>
</table>
