@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEstacionesModel
@{
}
 
<div class="content-allReg">
    <div class="row">
    
      <!-- Columna Uno -->
      <div class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify" >
         <h3>Crear Estaciones </h3>
      </div>

      <!-- Columna Dos -->
      <div class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify">  
        <main> 
           <center>
             <br>
             <form method="POST" name="estaciones" id="estaciones">
             
               <!-- // "Estacion", es la estacion de enlace -->

               <label for="nombre" class = "form-label">Nombre:</label>
               <input type="text" class="form-control" required placeholder="Nombre" minlength="3" asp-for="Estacion.nombre">
               <span class="text-danger" asp-validation-for="Estacion.nombre"></span> <br>

               <label for="direccion" class="form-label">Direccion:</label>
               <input type="text" class="form-control" required placeholder="Direccion" asp-for="Estacion.direccion">
               <label for="coord_x" class="form-label">Coordenada X:</label>
               <input type="number" class="form-control" required placeholder="Coordenada X" asp-for="Estacion.coord_x" step="any">
               <label for="coord_y" class="form-label">Coordenada Y:</label>
               <input type="number" class="form-control" required placeholder="Coordenada Y" asp-for="Estacion.coord_y" step="any">
               <label for="tipo">Tipo:</label>
               <select class="form-control" asp-for="Estacion.tipo">
                  <option value="">Seleccione el Tipo</option>
                  <option value="Principal">Principal</option>
                  <option value="Segundaria">Segundaria</option>
               </select>
               <hr>
               <button type="submit" class="btn btn-success">Enviar</button>
             </form> 
           </center>
        </main>
      </div> 

      <!-- Columna Tres -->
      <aside class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify"> 
         <center>
           <br>  <br>  <br>  <br>  <br> 
           <img src="https://previews.123rf.com/images/cc0collection/cc0collection2205/cc0collection220540616/186116299-trail,-train,-station,-people,-man,-ride,-transportation,-yellow,-dark,-night,-lights.jpg"  class="img-circle" width="50" height="50">
         </center>
       </aside>

    </div>

  </div>


