@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEstacionesModel
@{
}
 
<div class="content-allReg">
    <div class="row">
    
      <!-- Columna Uno -->
      <div class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify" >
         <h3>Crear Estaciones </h3>
      </div>

      <!-- Columna Dos -->
      <div class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify">  
        <main> 
           <center>
             <br>
             <form method="POST" name="estaciones" id="estaciones">
               <b
                <label for="nombre" class="form-label">Nombre13:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre ">
                <label for="direccion" class="form-label">Direccion:</label>
                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direccion ">
                <label for="coord_x" class="form-label">Coordenadas X:</label>
                <input type="number" class="form-control" id="coord_x" name="coord_x" placeholder="Coordenadas X">
                <label for="coord_y" class="form-label">Coordenadas Y:</label>
                <input type="number" class="form-control" id="coord_y" name="coord_y" placeholder="Coordenadas Y">
                <label for="tipo" class="form-label">Tipo:</label>
               </b>

               <select id="tipo" class="form-control" name="tipo" >
                 <option value="seleccione un tipo de Estacion">Seleccione un tipo</option>
                 <option value="principal">Principal</option>
                 <option value="secundaria">Secundaria</option>
               </select>
 
               <br> 
               <button type="submit" class="btn btn-success">Enviar</button>
             </form> 
           </center>
        </main>
      </div> 

      <!-- Columna Tres -->
      <aside class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify"> 
         <center>
           <br>  <br>  <br>  <br>  <br> 
           <img src="https://previews.123rf.com/images/cc0collection/cc0collection2205/cc0collection220540616/186116299-trail,-train,-station,-people,-man,-ride,-transportation,-yellow,-dark,-night,-lights.jpg"  class="img-circle" width="50" height="50">
         </center>
       </aside>

    </div>

  </div>

