@page
@model ProyectoCiclo3.App.Frontend.Pages.FormEstacionesModel
@{
}
 
<div class="content-allReg">
    <div class="row">
    
      <!-- Columna Uno -->
      <div class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify" >
         <h3>Creacion de Estaciones </h3>
      </div>

      <!-- Columna Dos -->
      <div class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify">  
        <main> 
           <center>
             <br>
             <form method="POST" action="registro.php" name="registro" id="registro">
               <b
                <label for="nombre" class="form-label">Nombre12:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre ">
                <label for="direccion" class="form-label">Direccion:</label>
                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Direccion ">
                <label for="coord_x" class="form-label">Coordenadas X:</label>
                <input type="number" class="form-control" id="coord_x" name="coord_x" placeholder="Coordenadas X">
                <label for="coord_y" class="form-label">Coordenadas Y:</label>
                <input type="number" class="form-control" id="coord_y" name="coord_y" placeholder="Coordenadas Y">
                <label for="tipo" class="form-label">Tipo:</label>
               </b>

               <select id="tipo" class="form-control" name="tipo" >
                 <option value="seleccione un tipo de Estacion">Seleccione un tipo</option>
                 <option value="principal">Principal</option>
                 <option value="secundaria">Secundaria</option>
               </select>
 
               <br> 
               <button type="submit" class="btn btn-success">Enviar</button>
             </form> 
           </center>
        </main>
      </div> 

      <!-- Columna Tres -->
      <aside class="col-xs- col-sm-4 col-md-4 col-lg-4 text-justify"> 
         <center>
           <img src="https://es.123rf.com/photo_132451594_paisaje-con-parada-de-autob%C3%BAs-vac%C3%ADa-en-una-ma%C3%B1ana-soleada.html?vti=mkt73tqozdf2jtdqyl-1-1" class="img-circle" width="150" height="600">
         </center>
       </aside>

    </div>

  </div>




