@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!--<h1 class="display-4">Welcome</h1> -->
    
        <img src="https://blogapi.uber.com/wp-content/uploads/2017/11/Cover-Pic-1-1.gif"                                                                                                                         class="img-circle" width="30" height="30""> 
    <!--<img src="https://previews.123rf.com/images/cc0collection/cc0collection2205/cc0collection220540616/186116299-trail,-train,-station,-people,-man,-ride,-transportation,-yellow,-dark,-night,-lights.jpg"  class="img-circle" width="50" height="50"> -->
</div>
