/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0e3363;
  background-color: #e29f23;
}

b {
  color: #0e3363;
  background-color: #8eb0c7;
}

form{
  border-radius: 5px;
  color: #0e3363;
  background-color: #8eb0c7;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.footer {
  position: absolute;
  background: #63b3d8;
  color: rgb(163, 12, 12);
  bottom: 0;
  width: 100%;
  text-align: center;
  border-radius:10px;
}

img {
  width: 35%; 
  height: auto;
  margin: auto;
  display:block; 
  border-radius: 5px;
  box-shadow: 5px 5px 0px rgb(4, 51, 95);
  padding: 1px;
  border: 1px solid #000;
}
